<template>
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Трекинг отправок ООО "Нова Пошта"</div>
                        <div class="card-body">
                            <div class="">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="ew">Введите номер экпресс-накладной: </label>
                                        <input type="text"  name='ew' id="ew" class="form-control" v-model="form.number">
                                        <span class="text-danger" v-if="this.errors.ew">{{ this.errors.ew[0] }}</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Введите номер телефона отправителя или получателя в формате 380********* : </label>
                                        <!--<br>-->
                                        <!--<input type="text" disabled value="380" style="display: inline-block" class="col-2">-->
                                        <input type="text"  name='phone' id="phone" class="form-control col-8" v-model="form.phone" placeholder="380*********">
                                        <!--<br>-->
                                        <span class="text-danger" v-if="this.errors.phone">{{ this.errors.phone[0] }}</span>
                                    </div>

                                    <div class="form-group">
                                        <button type='submit' @click.prevent="searchNow" class="btn btn-success btn-lg">
                                            Отследить!
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div  v-show="showTracking"  class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">Информация по Экспресс-накладной</div>
                            <div class="card-body">
                                <ul v-if="Object.keys(this.waybill).length">
                                    <li><strong>Номер ЭН:</strong> <br>{{this.waybill.number}}</li>
                                    <li><strong>Дата отправки:</strong> <br>{{this.waybill.waybillCreatedAt}}</li>
                                    <li><strong>Расчетная дата доставки:<br></strong> {{this.waybill.scheduleDeliveryDate}}</li>
                                    <li><strong>Маршрут:<br></strong>{{this.waybill.city_sender.cityName}} => {{this.waybill.city_recipient.cityName}}</li>
                                    <li><strong>Отправитель:</strong><br> {{this.waybill.SenderName+", "+this.waybill.senderPhone}}</li>
                                    <li><strong>Получатель:</strong><br> {{this.waybill.RecipientName+", "+this.waybill.recipientPhone}}</li>
                                    <li><strong>Вес:</strong> {{this.waybill.weight}}кг</li>
                                    <li><strong>Стоимость доставки:</strong> {{this.waybill.cost}}грн</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">История движения груза</div>
                            <div id="map"></div>
                        </div>
                    </div>

                </div>



            </div>
        </div>

    </div>




</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                form: {
                    number: "",
                    phone: ""
                },
                waybill: {},
                trackingInformation: {},
                errors: {},

                barcode: {},
                showTracking:false,

                origin: {},
                destination:{},
                processedWaypoints:{
                    geo:[],
                    where:[],
                    when:[]
                }


            }
        },
        methods: {
            searchNow() {

                if(!this.form.number ){

                    this.showTracking = false;
                    this.errors = {};
                    this.errors.ew = [];
                    this.errors.ew.push('Вы не ввели номер ЭН!');


                } else if (!this.form.phone){
                    this.showTracking = false;
                    this.errors = {};
                    this.errors.phone = [];
                    this.errors.phone.push('Вы не ввели номер номер телефона!');
                } else
                {
                    axios.post('/barcode/' + this.form.number + '/' + this.form.phone).then((response) => {

                        this.errors = {};
                        this.processedWaypoints.geo = [];
                        this.processedWaypoints.when = [];
                        this.processedWaypoints.where = [];

                        this.waybill = response.data[0];
                        this.trackingInformation = response.data[1];
                        this.showTracking = true;

                        this.origin = {lat: parseFloat(response.data[1][0].wh_creator.city_owner.latitude.replace(/\,/g, '.')), lng: parseFloat(response.data[1][0].wh_creator.city_owner.longitude.replace(/\,/g, '.'))};
                        this.destination = {lat: parseFloat(response.data[1][response.data[1].length -1 ].wh_creator.city_owner.latitude.replace(/\,/g, '.')), lng: parseFloat(response.data[1][response.data[1].length -1 ].wh_creator.city_owner.longitude.replace(/\,/g, '.'))}

                        for(var i = 0;  i < response.data[1].length; i++ ){

                            if(this.processedWaypoints.where.indexOf(response.data[1][i].wh_creator.city_owner.cityName) == -1){

                                this.processedWaypoints.where.push(response.data[1][i].wh_creator.city_owner.cityName);
                                this.processedWaypoints.when.push(response.data[1][i].scanDate);
                                this.processedWaypoints.geo.push({location: {lat: parseFloat(response.data[1][i].wh_creator.city_owner.latitude.replace(/\,/g, '.')), lng: parseFloat(response.data[1][i].wh_creator.city_owner.longitude.replace(/\,/g, '.'))},stopover: true })

                            }
                        }

                        this.initMap2();


                    }).catch((errors) => {
                        this.showTracking = false;
                        this.errors = errors.response.data.errors;
                    })
                }
            },
            initMap() {
                var directionsDisplay = new google.maps.DirectionsRenderer;
                var directionsService = new google.maps.DirectionsService;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 7,
                    center: {lat: 49.586756, lng: 34.547473}
                });
                directionsDisplay.setMap(map);
            },

            initMap2() {
                var directionsDisplay = new google.maps.DirectionsRenderer({
                    suppressMarkers: true
                });
                var directionsService = new google.maps.DirectionsService;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 7,
                    center: {lat: 49.586756, lng: 34.547473}
                });

                    var infowindow = new google.maps.InfoWindow();

                    var marker, i;
                    var content = [];

                    for (i = 0; i < this.processedWaypoints.geo.length; i++) {

                        content.push([this.processedWaypoints.where[i],this.processedWaypoints.when[i]] );


                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(this.processedWaypoints.geo[i].location.lat, this.processedWaypoints.geo[i].location.lng),
                            map: map,
                            label: String(i+1)


                        });

                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {


                                infowindow.setContent(String(content[i]));
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                directionsDisplay.setMap(map);
                this.calculateAndDisplayRoute2(directionsService, directionsDisplay);
            },

            calculateAndDisplayRoute2(directionsService, directionsDisplay) {
                var selectedMode = 'DRIVING';
                directionsService.route({
                    origin: this.origin,
                    destination: this.destination,
                    waypoints: this.processedWaypoints.geo,

                    travelMode: 'DRIVING'
                }, function (response, status) {
                    if (status == 'OK') {
                        directionsDisplay.setDirections(response);


                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }

       },
        mounted(){
            this.initMap();


        }
    }
</script>

<style scoped>
    #map {
        height: 400px;
        width: 100%;

    }
</style>
